.container {
	background: $light-grey;
	border: 1px solid $light-grey-border;
	border-radius: 5px;
	padding: 0;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.container_header {
	border-bottom: 1px solid $light-grey-border;
	padding: 1rem;

	label {
		cursor: pointer;
		font-size: 1rem;
	}

	> :last-child {
		align-items: center;
		display: flex;
	}
}

.container__message {
	color: $light-color;
	margin: 2rem auto;
	text-align: center;
}

.container_footer {
	padding: 1rem 1rem 0 1rem;
	border-top: 1px solid $light-grey-border;
}

body {
  background: url("http://www.hutui6.com/data/out/60/66982318-dream-wallpapers.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}