.page-title {
	padding: 2rem 0;
	margin: 0;
	text-align: center;
}
.dreamTitle {
	text-decoration: underline;
}
.reamer {
	color: $light-yellow;
}
.reamer-slogan {
	color: $orange;
}

.userName {
	font-family: 'Lobster', cursive;
	color: #ff9673;
}